@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
@section head{
    <style type="text/css">
         body {
            margin: 0;
            
            background-size: cover;
        }
    </style>
}
@if(User.IsInRole("Admin"))
{
@if(TempData["error"] != null && !TempData["error"].Equals(""))
{
    @Html.Raw(TempData["error"]);
}
<div class="Dbox">
    <div class="" style="text-align: center;margin-top:5px;">
		<h5 style="color: white;">Dash Board</h5>
     	<div class="row">
			    <div class="col-lg-2 col-md-2 col-sm-2"></div>
			    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="Dbox-part text-center">
                        
                            <a style="font-size:50px;" class="text-info"><i class="fas fa-cog"></i></a>                         
						<div class="title">
							<h4>Settings</h4>
						</div>
                        
						<div class="Dtext">
							<label class="Dspan" style="font-weight: bold;">Total Budget:</label>
            				<label>@TempData["Budget"]</label>
							<br>
                            <label class="Dspan" style="font-weight: bold;">Merit Min CGPA:</label>
							<label>@TempData["MeritCgpa"]</label>
							<br>
							<label class="Dspan" style="font-weight: bold;">Need Min CGPA:</label>
   							<label>@TempData["NeedCgpa"]</label>
   
    
						</div>
                        
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="Dbox-part text-center" style="padding-bottom: 40px;">
					    
					   <a style="font-size:50px;" class="text-success"><i class="fas fa-check"></i></a>
                    
						<div class="title">
							<h4>Accepted Students</h4>
						</div>
                        
						<div class="Dtext">
							<label class="Dspan" style="font-weight: bold;"><i class='fas fa-award'></i>  Merit Based:</label>
							<label>@TempData["MeritAccept"]</label>
							<br>
							<label class="Dspan" style="font-weight: bold;"><i class="fa fa-graduation-cap" aria-hidden="true"></i>  Need Based:</label>
                            <label>@TempData["NeedAccept"]</label>
                            
						</div>
                        
						
                        
					 </div>
				</div>
     	</div>
         <div class="row">	 
				<div class="col-lg-2 col-md-2 col-sm-2"></div>
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="Dbox-part text-center" style="padding-bottom: 40px;">
                        
                        <a style="font-size:50px;" class="text-danger"><i class="fas fa-times"></i></a>
                        
						<div class="title">
							<h4>Rejected Students</h4>
						</div>
                        
						<div class="Dtext">
							<label class="Dspan" style="font-weight: bold;"><i class='fas fa-award'></i>  Merit Based:</label>
							<label>@TempData["MeritReject"]</label>
							<br>
							<label class="Dspan" style="font-weight: bold;"><i class="fa fa-graduation-cap" aria-hidden="true"></i>  Need Based:</label>
                            <label>@TempData["NeedReject"]</label>

						</div>
                        
						
                        
					 </div>
				</div>	 
				
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="Dbox-part text-center" style="padding-bottom: 40px;">
                        
                        <a style="font-size:50px;" class="text-primary"><i class="fas fa-users"></i></a>
                        
						<div class="title">
							<h4>Registered Users</h4>
						</div>
                        
						<div class="Dtext">
							<label class="Dspan" style="font-weight: bold;">Student:</label>
							<label>@TempData["Student"]</label>
							<br>
							<label class="Dspan" style="font-weight: bold;">Committee Members:</label>
                            <label>@TempData["Committee"]</label>
							
						</div>
                        
						
                        
					 </div>
				</div>	 
				
				 
				
				
		
		</div>		
    </div>
</div>
}