@model IEnumerable<FinancialAidAllocationTool.Models.IntakeSeason.FaatIntakeSeason>

@{
    ViewData["Title"] = "Index";
}

<h1>Manage Intake Season</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                Intake Season
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.InsertionTimestamp) *@
                Insertion Date
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntakeSeason)
            </td>
            <td>
                @item.InsertionTimestamp.ToString("dd MMM yyyy")
            </td>
        </tr>
}
    </tbody>
</table>
</div>
